.slideshow {
  width: 45vw;       
  height: 50vh;      
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;  
}


.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
  flex-shrink: 0
}
.slideshow-track {
  display: flex;
  transition: transform 0.8s ease-in-out; 
  width: 100%;
  height: 100%;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.controls button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.3); 
  cursor: pointer;
  padding: 0;
  transition: background 0.3s ease-in-out;
}

.controls button.active {
  background: white; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;

  display: flex;          
  align-items: center;     
  justify-content: center;

  line-height: 1;          
  padding: 0;      
  text-align: center;      

  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s ease;
  z-index: 10;
}

.slideshow:hover .arrow {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6); 
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    
  left: 10px;
  right: auto;
}

.right-arrow {
  left: auto;
  right: 10px;
}

.slide-text h2.fade {
  opacity: 0;
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.slide-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #000; 
}

.slide-text h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.slide-text p {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
}


